In [1]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset("titanic")

print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
categorical_columns = df.select_dtypes(include=['object']).columns

#Fill missing values for categorical columns
df[categorical_columns] = df[categorical_columns].fillna("Missing")

#Label Encoding (Single Column Example)
df["sex_label"] = LabelEncoder().fit_transform(df["sex"])

#One-Hot Encoding (All Categorical Columns)
df_one_hot = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

#Ordinal Encoding (All Categorical Columns)
df_ordinal = df.copy()
ordinal_encoder = OrdinalEncoder()
df_ordinal[categorical_columns] = ordinal_encoder.fit_transform(df_ordinal[categorical_columns])

# Display Encoded DataFrames
print("Label Encoded Data (sex only):\n", df[["sex", "sex_label"]].head())
print("\nOne-Hot Encoded Data:\n", df_one_hot.head())
print("\nOrdinal Encoded Data:\n", df_ordinal.head())

Label Encoded Data (sex only):
    sex  sex_label
0    1          1
1    0          0
2    0          0
3    0          0
4    1          1

One-Hot Encoded Data:
    survived  pclass  sex   age  sibsp  parch     fare  embarked  class  who  \
0         0       3    1  22.0      1      0   7.2500         2      2    1
1         1       1    0  38.0      1      0  71.2833         0      0    2
2         1       3    0  26.0      0      0   7.9250         2      2    2
3         1       1    0  35.0      1      0  53.1000         2      0    2
4         0       3    1  35.0      0      0   8.0500         2      2    1

   adult_male  deck  embark_town  alive  alone  sex_label
0        True     7            2      0      0          1
1       False     2            0      1      0          0
2       False     7            2      1      1          0
3       False     2            2      1      0          0
4        True     7            2      0      1          1

Ordinal Encoded Data:
    survived  pclass  sex   age  sibsp  parch     fare  embarked  class  who  \
0         0       3    1  22.0      1      0   7.2500         2      2    1
1         1       1    0  38.0      1      0  71.2833         0      0    2
2         1       3    0  26.0      0      0   7.9250         2      2    2
3         1       1    0  35.0      1      0  53.1000         2      0    2
4         0       3    1  35.0      0      0   8.0500         2      2    1

   adult_male  deck  embark_town  alive  alone  sex_label
0        True     7            2      0      0          1
1       False     2            0      1      0          0
2       False     7            2      1      1          0
3       False     2            2      1      0          0
4        True     7            2      0      1          1