In [2]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset("titanic")

print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [3]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Selecting numerical columns
numerical_columns = ['age', 'fare', 'pclass', 'sibsp', 'parch']

# Drop rows with missing values in numerical columns
df = df.dropna(subset=numerical_columns)

# Normalization (Min-Max Scaling)
min_max_scaler = MinMaxScaler()
df_normalized = df.copy()
df_normalized[numerical_columns] = min_max_scaler.fit_transform(df[numerical_columns])

# Standardization (Z-score Scaling)
standard_scaler = StandardScaler()
df_standardized = df.copy()
df_standardized[numerical_columns] = standard_scaler.fit_transform(df[numerical_columns])

print("\nNormalized Data (Min-Max Scaling):\n", df_normalized.head())
print("\nStandardized Data (Z-score Scaling):\n", df_standardized.head())

Normalized Data (Min-Max Scaling):
    survived  pclass     sex       age  sibsp  parch      fare embarked  class  \
0         0     1.0    male  0.271174    0.2    0.0  0.014151        S  Third
1         1     0.0  female  0.472229    0.2    0.0  0.139136        C  First
2         1     1.0  female  0.321438    0.0    0.0  0.015469        S  Third
3         1     0.0  female  0.434531    0.2    0.0  0.103644        S  First
4         0     1.0    male  0.434531    0.0    0.0  0.015713        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Standardized Data (Z-score Scaling):
    survived    pclass     sex       age     sibsp     parch      fare  \
0         0  0.911232    male -0.530377  0.524570 -0.505895 -0.518978
1         1 -1.476364  female  0.571831  0.524570 -0.505895  0.691897
2         1  0.911232  female -0.254825 -0.551703 -0.505895 -0.506214
3         1 -1.476364  female  0.365167  0.524570 -0.505895  0.348049
4         0  0.911232    male  0.365167 -0.551703 -0.505895 -0.503850

  embarked  class    who  adult_male deck  embark_town alive  alone
0        S  Third    man        True  NaN  Southampton    no  False
1        C  First  woman       False    C    Cherbourg   yes  False
2        S  Third  woman       False  NaN  Southampton   yes   True
3        S  First  woman       False    C  Southampton   yes  False
4        S  Third    man        True  NaN  Southampton    no   True